@import 'tailwindcss';
@import "@fortawesome/fontawesome-free/css/all.min.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@utility h-main {
    min-height: calc(100dvh - 64px);
}

@utility appearance-textfield {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
}


@utility appearance-textfield {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
}

@utility grid-cols-fr-4 {
    grid-template-columns: 1fr repeat(3, minmax(0, 1fr));
}

.unhideOnLoad {
    display: none;
}

.toast {
    @apply w-80 p-4 rounded-xl shadow-lg mb-4 text-sm;
}

.toast-success {
    @apply bg-gradient-to-r from-green-600 to-green-900/80 dark:from-green-700 dark:to-green-900/80 text-green-200;
}

.toast-error {
    @apply bg-gradient-to-r from-red-600 to-red-900/80 dark:from-red-700 dark:to-red-900/80 text-red-200;
}

.toast-warning {
    @apply bg-gradient-to-r from-yellow-600 to-yellow-900/80 dark:from-yellow-700 dark:to-yellow-900/80 text-yellow-200;
}

.toast-info {
    @apply bg-gradient-to-r from-blue-600 to-blue-900/80 dark:from-blue-700 dark:to-blue-900/80 text-blue-200;
}

.toast-icon {
    @apply flex-shrink-0 mt-1;
}

.icon-circle {
    @apply h-6 w-6 flex items-center justify-center rounded-full text-xs;
}

.toast-title {
    @apply font-semibold text-white;
}

.toast-message {
    @apply mt-1 text-[0.875rem];
}

.toast-close {
    @apply text-neutral-400 hover:text-neutral-200 transition-colors;
}
